.calcul{
	border: 1px solid #000;
	height: 340px;
	width: 230px;
	margin: auto;
}

.display{
	display: block;
	position: relative;
	border: 1px solid #000;
	height: 40px;
	width: 80%;
	margin: auto;
	margin-top: 20px;
	font-size: 30px;
	text-align: right;
}
.number{
	display: inline-block;
	vertical-align: top;
	position: relative;
	/*border: 1px solid #000;*/
	height: 250px;
	width: 70%;
	margin-top: 20px;
	margin-left: 10px;
}
.ekshen{
	display: inline-block;
	vertical-align: top;
	position: relative;
	/*border: 1px solid #000;*/
	height: 250px;
	width: 20%;
	margin-top: 20px;
	cursor: pointer;
}
.number div,.ekshen div{
	position: relative;
	display: inline-block;
	vertical-align: top;
	height: 40px;
	width: 40px;
	margin-left: 5px;
	border: 1px solid #000;
	font-size: 30px;
	line-height: 40px;
	text-align: center;
	margin-top: 5px;
	cursor: pointer;
}
.ekshen div{
	display: block;
	margin: 5px auto 0;
}
#enter{
	background: #FFEB3B;
}